.contacts {
    @include font(400, 16, 1.5);
    display: flex;
    align-items: center;
    gap: 8px;

    @media screen and (min-width: $tab) {
        font-size: 20px;
    }
}

.contacts-icon {
    width: 28px;
    height: 28px;
    fill: var(--text-color);

}